.taskList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.6rem;
  top: 15rem;
  margin: auto;

  width: 73.6rem;
  height: 7.2rem;

  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  p {
    width: 63.2rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--gray-100);
  }

  button[type='button'] {
    background: url('../assets/deletebutton.svg') no-repeat center;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
    transition: background-color 0.1s;
  }

  button:hover {
    background: url('../assets/deletebuttonhover.svg') no-repeat center;
    background-color: var(--gray-400);
  }
}

section + section {
  margin-top: 1.2rem;
}
